* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/markus-spiske-qn5iDwvOZgo-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;

}

h1 {
    font-size: 75px;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
}

#beer-image {
    width: 75%;
    height: 50%; 
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#find-brew {
    text-align: center;
    position: relative;
    bottom: 35px;
}

.page-one {
    position: relative;
    top: 300px;
}


.page-two {
    display: none;
    padding-top: 25%;
    padding-bottom: 25%;
}

#two {
    position: relative;
    top: 15px;
}

.ask-age {
    font-size: 45px;
}

.page-three {
    display: none;
    position: relative;
    top: 225px;
}

.page-four {
    display: none;
}

.page-five {
    display: none;
}

.img-container img{
    width: 50%;
    height: 50%;
    border: solid white 5px;
}

#zip-code-form {
    padding: 20px;
}

#zip-code {
    height: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 3%;
    background-color: mintcream
}

button.back {
    position: relative;
    top: 0;
    left: 0;
}


.card {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: URL ('./images/timothy-dykes-Lq1rOaigDoY-unsplash.jpg');
    /* border:solid black 1px; */
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 1rem 2rem;
}

